<div class="jumbotron">
  <h1>The Project</h1>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Coming Soon...</a></p>
</div>

<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="https://www.coolonsale.com/piece/Rascals-Jacket-With-Hood-And-Zip-Detail-coskey-f7fe-5f1d-41rvc" class="thumbnail">
      <img src="https://www.coolonsale.com/system/pieces/pictures/000/919/836/original/f7fe5f1d41rvc.jpg" alt="Product No. 1">
    </a>
</div>
<div class="row">

  <div class="col-xs-6 col-md-3">
    <a href="https://www.coolonsale.com/piece/Rascals-Jacket-With-Hood-And-Zip-Detail-coskey-f7fe-5f1d-41rvc" class="thumbnail">
      <img src="http://media.endclothing.co.uk/media/catalog/product/cache/1/small_image/230x/9df78eab33525d08d6e5fb8d27136e95/2/2/22-07-2015_ourlegacy_1950sbuttondownshirt_purpleoxford_1_hh.jpg" alt="Product No. 1">
    </a>
</div>

<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="https://www.coolonsale.com/piece/Rascals-Jacket-With-Hood-And-Zip-Detail-coskey-f7fe-5f1d-41rvc" class="thumbnail">
      <img src="http://media.endclothing.co.uk/media/catalog/product/cache/1/small_image/230x/9df78eab33525d08d6e5fb8d27136e95/2/3/23-07-2015_puma_r698bright_royalblue_1_bm.jpg" alt="Product No. 1">
    </a>
</div>

<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="https://www.coolonsale.com/piece/Rascals-Jacket-With-Hood-And-Zip-Detail-coskey-f7fe-5f1d-41rvc" class="thumbnail">
      <img src="http://media.endclothing.co.uk/media/catalog/product/cache/1/small_image/230x/9df78eab33525d08d6e5fb8d27136e95/2/3/23-07-2015_puma_r698bright_black_1_bm.jpg" alt="Product No. 1">
    </a>
</div>

